*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 120px 30px 134px;
  gap: 30px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
}

.result__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.search-form {
  width: 100%;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  width: 225px;
  height: 27px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  appearance: none;
  background-color: transparent;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

input:focus {
  outline: none;
  outline-offset: 0;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-color: #fff;
  opacity: 0;
  align-self: center; 
}

input[type=checkbox]:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
  margin: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 17px;
}

.content__details {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.title {
  font-family: "Oswald", sans-serif;
  line-height: 94%;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  width: 399px;
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
} 

.content__video-card-description-container {
  width: 200px;
  overflow: hidden;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}

.content__video-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.content__card-link {
  display: block;
  margin: 3px;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-position: under; 
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: 0;
  outline-offset: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: transparent;
  border: 1px solid currentColor;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.more-button {
  width: 100%;
  height: 34px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
  justify-self: end;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: 0;
  outline-offset: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050;
}